In [ ]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)
data.loc[["Первый", "Третий"]]

In [2]:
import pandas as pd
data = pd.Series(list(range(10, 1001)))
display(data)

0        10
1        11
2        12
3        13
4        14
       ...
986     996
987     997
988     998
989     999
990    1000
Length: 991, dtype: int64

In [ ]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

In [ ]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

In [ ]:
import pandas as pd
data = pd.read_csv('C:/Users/stepn/Downloads/data_sf.csv')
display(data)

In [ ]:
     
import pandas as pd

football = pd.read_csv('\My first experience/data_sf.csv')
display(football.head())

In [2]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
display(football.head())
display(football.tail(10))
display(football.info())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12887,13116,D. Holland,18,Republic of Ireland,Cork City,60000,1000,CM,44,44,...,49,52,41,47,38,13,6,9,10,15
12888,13117,J. Livesey,18,England,Burton Albion,60000,1000,GK,14,8,...,14,34,15,11,13,46,52,58,42,48
12889,13118,M. Baldisimo,18,Canada,Vancouver Whitecaps FC,70000,1000,CM,31,31,...,36,40,48,49,49,7,7,9,14,15
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [27]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football.describe()
display(football['Wage'].sum())
display(football.describe())

96954000

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [16]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football[football.Wage == football.Wage.max()].Position

0    RF
Name: Position, dtype: object

In [19]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football[football.Nationality == 'Brazil'].Penalties.sum()

22789

In [20]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football[football.HeadingAccuracy >50].Age.mean()

25.58771113179944

In [21]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football[(football.Composure > 0.9*football.Composure.max()) &
        (football.Reactions > 0.9*football.Reactions.max())].Age.min()

24

In [22]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
react_old = football[football.Age == football.Age.max()].Reactions.mean()
react_young = football[football.Age == football.Age.min()].Reactions.mean()
result = react_old - react_young
display(result)

22.642857142857146

In [33]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football[football.Value > football.Value.mean()].Nationality.describe()

count      1747
unique       98
top       Spain
freq        211
Name: Nationality, dtype: object

In [35]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
wage_reflexes = football[(football.Position == 'GK') &
                         (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
wage_Handling = football[(football.Position == 'GK') &
                         (football.GKHandling == football.GKHandling.max())].Wage.mean()
results = wage_reflexes/wage_Handling
results

2.765957446808511

In [36]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
max_agression = football[football.Aggression == football.Aggression.max()].ShotPower.mean()
min_agression = football[football.Aggression == football.Aggression.min()].ShotPower.mean()
result = max_agression/min_agression
result

2.076923076923077

In [7]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
clubs = df['Club'].value_counts(normalize = True)
display(clubs)

Shonan Bellmare      0.002326
V-Varen Nagasaki     0.002326
Vissel Kobe          0.002249
De Graafschap        0.002249
FC Emmen             0.002249
                       ...
Olympiacos CFP       0.000620
GD Chaves            0.000543
Dinamo Zagreb        0.000543
Vitória Guimarães    0.000543
Atlético Mineiro     0.000465
Name: Club, Length: 650, dtype: float64

In [9]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
positions = df['Position'].value_counts(normalize = True)
display(positions)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [21]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
small_df = df[df.columns[0:7]].head(25)

s = small_df['Wage'].value_counts(bins=4)

display(s)
display(s.index)
display(s.index[3])
display(s.index[3].left)
display(s.index[3].right)
display(small_df['Wage'] > s.index[3].left)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

IntervalIndex([(211750.0, 329500.0], (93528.999, 211750.0], (329500.0, 447250.0], (447250.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

Interval(447250.0, 565000.0, closed='right')

447250.0

565000.0

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [22]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
worst = df['FKAccuracy'].value_counts(bins = 5)
display(worst)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [27]:
salarys = df[df.Nationality == 'Spain'].Wage.value_counts(bins = 4, normalize = True)
display(salarys)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [28]:
footballers = df[df.Club == 'Manchester United'].Nationality.nunique()
display(footballers)

13

In [30]:
players = df[(df.Club == 'Juventus') &
             (df.Nationality == 'Brazil')].Name.unique()
display(players)

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [32]:
biggest_club = df[df.Age > 35].Club.value_counts()
display(biggest_club)

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Benevento                     3
Morecambe                     3
Estudiantes de La Plata       3
                             ..
Red Star FC                   1
Deportivo Pasto               1
Legia Warszawa                1
Foggia                        1
Macclesfield Town             1
Name: Club, Length: 212, dtype: int64

In [33]:
arg_nat = df[df.Nationality == 'Argentina'].Age.value_counts(bins = 4)
display(arg_nat)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [34]:
players_spain = df[df.Nationality == 'Spain'].Age.value_counts(normalize =True)
display(players_spain)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [35]:
sal_position = df.groupby(['Position'])['Wage'].sum().sort_values(ascending = False)
display(sal_position)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [40]:
sal_position = df.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'], ascending = False)
display(sal_position)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [79]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
sal_clubs = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
a = sal_clubs[sal_clubs['mean'] == sal_clubs['median']]
a = a.sort_values(['mean'], ascending = False)
display(a)

                           mean  median
Club
Cruzeiro                13000.0   13000
Göztepe SK               7000.0    7000
Brøndby IF               6000.0    6000
Sunderland               4000.0    4000
CD Feirense              4000.0    4000
1. FC Magdeburg          4000.0    4000
Northampton Town         2500.0    2500
Stade Brestois 29        2000.0    2000
Jeonnam Dragons          2000.0    2000
Pohang Steelers          2000.0    2000
AJ Auxerre               2000.0    2000
Grimsby Town             2000.0    2000
Heracles Almelo          2000.0    2000
Philadelphia Union       2000.0    2000
Kashiwa Reysol           2000.0    2000
CD Tondela               2000.0    2000
Benevento                2000.0    2000
FC Metz                  1500.0    1500
PAOK                     1000.0    1000
Orlando Pirates          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
PFC CSKA Moscow          1000.0    1000
Shakhtar Donetsk         1000.0    1000
SK Slavia Praha          1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Trelleborgs FF           1000.0    1000
Olympiacos CFP           1000.0    1000
Jaguares de Córdoba      1000.0    1000
Lokomotiv Moscow         1000.0    1000
Dynamo Kyiv              1000.0    1000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Cork City                1000.0    1000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Envigado FC              1000.0    1000
Limerick FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
HJK Helsinki             1000.0    1000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
AEK Athens               1000.0    1000
Kaizer Chiefs            1000.0    1000
Viktoria Plzeň           1000.0    1000

In [82]:
sumsal = df.groupby(['Club'])['Wage'].sum()
sumsal_Chelsy = sumsal['Chelsea']
display(sumsal_Chelsy)

2035000

In [87]:
max_wage = df[(df.Nationality == 'Argentina') &
             (df.Age == 30)].Wage.min()
display(max_wage)

1000

In [88]:
Streng = df[(df.Club == 'FC Barcelona') &
           (df.Nationality == 'Argentina')].Strength.max()
Balance = df[(df.Club == 'FC Barcelona') &
           (df.Nationality == 'Argentina')].Balance.max()
display(Streng, Balance)

59

95

In [117]:
pivot = df.pivot_table(values='Name',
index='Position',
columns='Club',
aggfunc='count',
fill_value=0)
pivot_1 = pivot.reset_index()
display(pivot_1)
pivot_1.loc['CM'].value_counts()

Club,Position,SSV Jahn Regensburg,1. FC Heidenheim 1846,1. FC Kaiserslautern,1. FC Köln,1. FC Magdeburg,1. FC Nürnberg,1. FC Union Berlin,1. FSV Mainz 05,AC Ajaccio,...,Wycombe Wanderers,Yeni Malatyaspor,Yeovil Town,Yokohama F. Marinos,Zagłębie Lubin,Zagłębie Sosnowiec,Çaykur Rizespor,Örebro SK,Östersunds FK,Śląsk Wrocław
0,CAM,0,1,0,0,0,1,1,0,3,...,0,2,0,3,0,3,1,0,1,0
1,CB,5,3,3,1,4,1,2,2,1,...,3,2,3,4,0,2,2,4,1,1
2,CDM,1,0,3,1,0,2,2,0,0,...,0,3,0,2,2,2,5,0,0,3
3,CF,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,CM,2,1,0,2,0,1,1,1,1,...,4,2,1,1,1,0,0,1,3,1
5,GK,3,2,3,3,3,1,1,1,1,...,2,4,3,4,3,3,3,3,3,3
6,LAM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,LB,2,2,2,0,1,1,2,1,3,...,1,1,2,1,2,3,2,0,2,2
8,LCB,0,1,1,0,1,0,1,0,1,...,1,0,1,0,1,1,1,1,1,1
9,LCM,0,0,0,0,1,0,0,1,0,...,1,0,1,1,0,0,0,1,1,0
10,LDM,1,0,0,0,0,0,0,0,1,...,0,1,0,0,2,1,1,0,0,1
11,LF,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,LM,2,2,2,0,0,0,0,0,1,...,0,2,2,1,2,4,1,0,2,2
13,LS,0,0,1,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
14,LW,0,0,1,0,0,0,0,2,0,...,3,0,0,1,0,0,0,3,0,0
15,LWB,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
16,RAM,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,RB,2,2,2,1,0,1,1,1,1,...,2,2,2,2,2,1,3,0,1,2
18,RCB,1,1,0,0,1,0,0,0,1,...,1,0,1,0,1,1,0,1,1,1
19,RCM,0,0,0,0,1,0,0,0,0,...,1,0,1,1,0,0,0,1,0,0
20,RDM,1,0,1,0,0,0,0,0,1,...,0,0,0,0,1,1,1,0,0,1
21,RF,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,RM,0,3,2,1,3,2,0,0,1,...,1,1,5,1,4,2,1,0,1,2
23,RS,0,0,1,0,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,1
24,RW,0,0,0,0,2,0,0,0,0,...,1,0,0,1,0,0,0,2,1,0
25,RWB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
26,ST,3,2,1,0,1,3,0,1,3,...,1,2,4,3,4,1,1,5,1,2

KeyError: 'CM'

In [2]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
df2 = df.pivot_table(columns = 'Club', index = 'Position', values = 'Name', fill_value=0, aggfunc='count')
df2.loc['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [3]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
pivot = df.loc[df['Club'].isin(['AS Monaco'])].pivot_table(values='Wage',
index='Nationality',
columns='Club',
aggfunc='sum',
fill_value=0)
display(pivot)

Club         AS Monaco
Nationality
Belgium          47000
Brazil           55000
Colombia        115000
Croatia          70000
France           95000
Italy            48000
Montenegro       79000
Morocco          39000
Poland           86000
Portugal         65000
Russia           61000
Senegal          10000

In [14]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
pivot = df.pivot_table(values='SprintSpeed',
index='Club',
columns='Position',
aggfunc='mean',
fill_value=0)
display(pivot.max().sort_values(ascending=False))

Position
RS     94.0
RM     94.0
LM     94.0
LS     93.0
RB     93.0
LB     93.0
CF     91.0
LW     91.0
ST     91.0
RDM    91.0
RW     91.0
RCM    90.0
CAM    89.0
LF     88.0
RCB    88.0
LCB    88.0
RWB    86.0
RF     86.0
CM     86.0
LWB    86.0
LAM    85.0
LCM    84.0
CDM    83.0
LDM    79.0
RAM    78.0
CB     78.0
GK     62.0
dtype: float64

In [19]:
import pandas as pd

df = pd.read_csv('data_sf.xls')
pivot = df.loc[df['Position'].isin(['ST'])].pivot_table(values='SprintSpeed',
index='Club',
columns='Position',
aggfunc='mean',
fill_value=0)
display(pivot['ST'].sort_values(ascending=False))

Club
Vitória                 91.000000
Sydney FC               88.000000
CD Lugo                 87.000000
Brøndby IF              84.666667
Leicester City          84.500000
                          ...
Beijing Renhe FC        47.500000
Real Sociedad           46.000000
San Jose Earthquakes    45.000000
1. FC Magdeburg         44.000000
Club Tijuana            40.000000
Name: ST, Length: 591, dtype: float64